@charset "utf-8";
/* CSS Document */

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout this template
are based on 10px sizing. So basically 1.5rem = 15px :) */

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	height: 100%;
	margin: 0;
}

body {
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "EBGaramond-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
	height: 100%;
	margin: 0;
}

img {
	max-width: 100%;
	margin: 0;
	padding: 0;
}

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family: 'Alfa Slab One';
    src: url('../fonts/AlfaSlabOne-Regular.woff2') format('woff2'),
        url('../fonts/AlfaSlabOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}






/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Note - next lesson padding, margins, floats, fonts & media queries */

body {
	background-color: darkgrey;
}

.header {
	background-color: #ef7f80;
	width: 90%;
	display: block;
	float: left;
	margin: 0px 0 0px 0;
	padding: 30px 5% 30px 5%;
}

.header .logo {
	/*background-color: blue;*/
	width: 40%;
	display: block;
	float: left;
	margin: 0px 0 0px 0;
	padding: 30px 5% 30px 5%;
}

.header .logo p {
	color: black;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Shippori Mincho', "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.header .logo p a {
	color: black;
	text-decoration: none;
}

.header .mainNav {
	/*background-color: yellow;*/
	width: 40%;
	display: block;
	float: left;
	margin: 0px 0 0px 0;
	padding: 30px 5% 30px 5%;
}

.mainNav > ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mainNav > ul > li {
  float: left;
  font-family: "MontserratBold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000;
}

.mainNav > ul > li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.mainNav > ul > li a:hover {
  color: #0f4160;
  text-decoration: underline;
}


.mainContent {
	background: url("../images/videocamera.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #bad7d8;

	width: 100%;
	display: block;
	float: left;
}

.mainContent .contentArea {
	background-color: white;
	width: 76%;
	float: left;
	margin: 20px 10% 20px 10%;
	padding: 20px 2% 20px 2%;
}

.mainContent .contentArea .contentImages {
	background-color: white;
	width: 50%;
	float: left;
	display: none;
}

.mainContent .contentArea .contentText {
	background-color: pink;
	width: 50%;
	float: left;
}


footer {
	background-color: yellow;
	width: 100%;
	display: block;
	float: left;
}

/* Small screen sizes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* CSS for small screens such as smartphones - width of 740px or less */

@media only screen and (max-width: 740px) {
	.header {
		background-color: aquamarine;
	}
	.header .logo {
		width: 90%;
	}
	.header .mainNav {
		width: 90%;
	}
	.mainContent .contentArea {
		width: 96%;
		margin: 0;
	}
	.mainContent .contentArea .contentText {
		width: 100%;
	}
	.mainContent .contentArea .contentImages {
		width: 100%;
		display: block;
	}
}




	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	